<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买卖铺子-做自己的买卖</title>
    <link rel="shortcut icon" href="/public/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/nopay.css">
    <link rel="stylesheet" type="text/css" href="/public/css/iconfont.css">
</head>
<body>
<!--The StartLine of cart title-->
<div class="nopay-title">
    <a href="/user"><i class="iconfont icon-shangyiyehoutuifanhui"></i></a><h1>未支付</h1><i class="iconfont icon-yinhangqia-xianxing nopay-icon"></i>
</div>
<!--The EndLine of cart title-->
<!--The StartLine of the cart content-->
<div class="nopay-content">

</div>
<!--The EndLine of the cart content-->

</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/nopay.js"></script>
</html>