<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>买卖铺子-做自己的买卖</title>
    <link rel="shortcut icon" href="/public/img/favicon.ico"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/savegood.css">
    <link rel="stylesheet" type="text/css" href="/public/css/iconfont.css">
</head>
<body>
<!--The StartLine of savegood title-->
<div class="saveg-title">
    <a href="/user"><i class="iconfont icon-shangyiyehoutuifanhui"></i></a><h1>商品收藏</h1><i class="iconfont icon-xihuan saveg-icon"></i>
</div>
<!--The EndLine of savegood title-->
<!--The StartLine of the savegood content-->
<div class="saveg-content">

</div>
<!--The EndLine of the savegood content-->

</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/savegood.js"></script>
</html>