<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>买卖铺子-做自己的买卖</title>
	<link rel="shortcut icon" href="/public/img/favicon.ico"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,manager-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/search.css">
	<link rel="stylesheet" type="text/css" href="/public/css/iconfont.css">
</head>
<body>
	<!--The StarLine of the return-->
	<a class="return" href="/"><<返回</a>
	<!--The EndLine of the return-->
    <!--The StartLine of the search wrapper-->
    <div class="search-wrapper">
    	<div class="input-group">
		    <input type="text" class="form-control" aria-label="..." placeholder="请输入商店名、商品名、商品类别搜索" id="val">
		    <div class="input-group-btn">
		      <a class="btn btn-default getValue" href="javascript:;"><i class="iconfont icon-sousuo-xianxing"></i></a>
		    </div>
		</div>
		<p>查询格式：三只松鼠、牛肉干、食品……</p>
    </div>
	<!--The EndLine of the search wrapper-->
	
</body>
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/search.js"></script>
</html>